.container{
    display: flex;
    padding-left: 10vh;
    margin-top: 20px;
    justify-items: center;
    .logo{
        display: inline-block;
        background-image: url('../image/Stethoscope.png');
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
      
    }

    p{
        font-size: 15px;
        background: linear-gradient(135deg, #000000, #000000);
        -webkit-background-clip: text; /* Применение маски к тексту для Webkit браузеров */
        font-family: Poppins;
        font-weight: 500;
    }

    span {
        color: rgb(149, 0, 255);
    }
}