.container {
    height: 100px;
    background-color: rgb(149, 0, 255);
    align-items: center;
    align-content: center;
    padding-top: 30px;

    


    a {
        color: #fff;
        font-size: 15px;
        margin-left: 100px;
        align-items: center;

        p{
            display: inline-block;
            transition: 0.2s ease-in;
        }
    }

    a:hover p{
        transform: translateX(60%);
    }
}