.footer {
    background-color: #4270A2;
    background-image: url("uho.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    background-position: center;
    a {
        font-size: 24px;
    }
}